<div class="row f-width f-height">


    <div class="col-lg-12 col-md-12 col-sm-12 background-image-content">
        <div class="row align-items-center f-height justify-content-center  ">
            <div class="col-md-4">
                <div class="card cardcustomcss m-5">
                    <div class="textalign py-3">
                        <div class="card-body">
                            <form [formGroup]="Resetpasswordform" (ngSubmit)="Resetpasswordfunction()">
                                <h5 class="card-text text-left mb-3"><strong>Reset Password</strong></h5>
                                <mat-form-field appearance="outline">
                                    <mat-label>Choose A Password</mat-label>
                                    <input matInput #password maxlength="30" placeholder="Password"
                                        [type]="hide ? 'password' : 'text'" formControlName="password"
                                        autocomplete="off">
                                    <mat-icon matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput maxlength="30" placeholder="Password" type="password"
                                        formControlName="confirmpassword" autocomplete="off">
                                </mat-form-field>
                                <button mat-raised-button color="primary" [disabled]="Resetpasswordform.invalid"
                                    class="w-100 col-md-8 col-sm-8 buttonandtextwidth">Update
                                    Password
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>