<div mat-dialog-content>
<div class="row justify-content-center">
  <div class="col-4 text-center">
    <img src="assets/images/otp-log.png" alt="Card image cap">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h4>Verification Code</h4>
  </div>
</div>
<div class="row justify-content-center px-4">
  <div class="col-12 text-center enter-digits">
    <p>Please enter the 6-digit verification code sent to your mobile number</p>
  </div>
</div>
<div class="row justify-content-center my-2 px-4">
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input" [(ngModel)]="data.otp[0]" (onkeypress)="validateNumber($event)" type="text" maxlength="1">
    </mat-form-field>
  </div>
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input" [(ngModel)]="data.otp[1]" (onkeypress)="validateNumber($event)" type="text"maxlength="1" >
    </mat-form-field>
  </div>
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input" [(ngModel)]="data.otp[2]" (onkeypress)="validateNumber($event)" type="text" maxlength="1">
    </mat-form-field>
  </div>
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input"  [(ngModel)]="data.otp[3]" (onkeypress)="validateNumber($event)" type="text" maxlength="1">
    </mat-form-field>
  </div>
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input" [(ngModel)]="data.otp[4]" (onkeypress)="validateNumber($event)" type="text" maxlength="1">
    </mat-form-field>
  </div>
  <div class="col-2 text-center">
    <mat-form-field appearance="outline">
      <input matInput class="otp-input" [(ngModel)]="data.otp[5]" (onkeypress)="validateNumber($event)" type="text" maxlength="1">
    </mat-form-field>
  </div>



</div>

<div class="col-2 text-center">
  <mat-form-field appearance="outline">
    <input matInput class="otp-input" [(ngModel)]="data.code" type="text" >
  </mat-form-field>
</div>

</div>
<div mat-dialog-actions class="justify-content-center ">
  <div class="col-4">
    <button mat-raised-button color="primary" class="f-width" (click)="submit()" cdkFocusInitial>Verify</button>
  </div>

</div>
<div class="row justify-content-left mt-4 px-4">
  <div class="col-12 text-left">
    <p class="mb-0">It may take a minute to receive your code</p>
    <p>Haven’t received yet?  <a href="#">Resend code</a></p>
  </div>
</div>
