.loading-center{
    mat-progress-spinner{
        margin: 0 auto;
    }
}
.overlay{
    position: fixed;
    overflow-y: hidden !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.loading{
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1111;
}
