<div *ngIf="type=='center'" class="loading-center">
    <mat-progress-spinner
        *ngIf="showSpinner"
        [diameter]="50"         
        color="primary"
        [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>
<ng-container *ngIf="type=='overlay'">
  <div *ngIf="showSpinner" class="overlay"></div>
  <div class="loading">
      <mat-progress-spinner
      *ngIf="showSpinner"
          [diameter]="50"         
          color="primary"
          [mode]="'indeterminate'">
      </mat-progress-spinner>
  </div>
</ng-container>
