.row {
    margin-right: 0px;
    margin-left: 0px;
}
.form-content-background {
    position: absolute;
    right: 0px;
}
.social-labels {
    font-weight: 600;
    font-size: 16px;
    color: #42526e;
}
.social-buttons {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.cardcustomcss {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

@media (max-width: 544px) {
    .background-color {
        background-color: #166e85;
    }
    .hide-mb {
        display: none;
    }
}
