<div class="row f-height f-width">  

 <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="row align-items-center f-height justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-12  col-lg-6 col-md-6">
            <img src="assets/images/DAO-logo.png" alt="Card image cap">
          </div>
          <div class="col-lg-6 col-md-6 d-none d-md-flex justify-content-end">
            <button  class="text-center btn btn-outline-primary btn-lg" color="primary">Sign up</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">        
        <div>
          <h5 class="card-title"><strong>Sign in to your account</strong></h5>
          <button color="primary" class="mt-3 social-buttons btn btn-outline-secondary f-width" ><label class="social-labels mb-0">
            <i class="fa fa-home"></i>
            Continue with google
          </label></button>
          <button  color="primary" class="mt-3 social-buttons btn btn-outline-secondary f-width" ><label class="social-labels mb-0">
            Continue with facebook
          </label></button>
        </div>

        <div class="card cardcustomcss mb-4">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="signIn()" >
              <div class="row ">
                <img src="assets/images/elements-mobile-logo.png" alt="Card image cap">
              </div>
            <h5 class="card-title"><strong>Sign in to your account</strong></h5>
            <p class="card-text">or <a routerLink="/public/register">create an account</a></p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="john@elementsresidencia.com" formControlName="email">
              <mat-icon matSuffix>email</mat-icon>          
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" >
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>         
            </mat-form-field>        
            <button mat-raised-button color="primary" class="f-width" [disabled]="loginForm.invalid">Log In</button>
            <div class="mt-4">
              <mat-checkbox  >Remember me</mat-checkbox>
              <a routerLink="/public/forgotpassword" class="float-right">Forgot password?</a>
            </div>
          </form>
          </div>
        </div>
        
      </div> 
      <div class="footer">
        <span>
          ©2020 Elements Residencia LLP. All Rights Reserved.
        </span>
      </div>  
    </div>
    
  </div>
 
</div>