


   .row{
    margin-right: 0px;
    margin-left: 0px;
}
.form-content-background{
    position: absolute;
    right: 0px;
}


.cardcustomcss{
 box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
 border: 1px solid #C2C2C2;
 border-radius: 5px;

}
@media(max-width:544px){
    .background-color{
       background-color: #166E85;
    }
    h5{font-size:0.9rem;}
    .background-image-content{

     background-image: url(../../../../assets/images/bg-vector.png);
     background-repeat: no-repeat;
     background-position-x: right;
 }
}
