<h1 mat-dialog-title>Password Information</h1>
<div mat-dialog-content>
 
  
  <mat-form-field appearance="outline">
    <mat-label>Enter Password</mat-label>
    <input matInput [(ngModel)]="data.password" type="password">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="submit()" cdkFocusInitial>Submit</button>
</div>