

        <div class="container h-100">
            <div class="row  h-100 justify-content-center align-items-center text-center ">
             <div class="col-12 mt-2">
                <img  src="../../../../assets/images/accountcreationpage.png">
                <h3 class="mt-2">You’re all set! Just one more thing...</h3>
                <p class="fontsize">Your account has been successfully registered. To complete the process, we have sent an email verification
                    link to <strong>{{email}}</strong></p>
                    <p> Haven’t received email yet? <a href="#" >Resend email</a> </p>
            </div>
        </div>
    
        </div>