<div class="container full-width px-0">
    <div class="row f-height  mx-0">
        <div class="col-12 top-bar">
            <h6>Buy fractional shares and increase your wealth</h6>
        </div>
        <div class="col-12 my-4 ">
            <h6>Latest listings</h6>
        </div>
        <div class="col-12 ">
            <table mat-table [dataSource]="dataSource" class="f-width "
                *ngIf="dataSource && dataSource.data.length > 0">
    
                <!-- Position Column -->
                <ng-container matColumnDef="areaunits">
                    <th mat-header-cell *matHeaderCellDef> Available Area </th>
                    <td mat-cell *matCellDef="let element"> {{element.areaunits}} </td>
                </ng-container>
                <h1></h1>
    
                <!-- Name Column -->
                <ng-container matColumnDef="sqftprice">
                    <th mat-header-cell *matHeaderCellDef> Ask Price (per sqft) </th>
                    <td mat-cell *matCellDef="let element"> PKR &nbsp;{{element.sqftprice | number:'4.0'}} </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef> Listing date </th>
                    <td mat-cell *matCellDef="let element"> {{element.created_at | date : 'dd/MM/yyyy' }} </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="contextmenu">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-stroked-button [routerLink]="['/investor/buy/'+element.id]" class="mx-2  text-center" color="primary">Buy area</button>
                    </td>
                </ng-container>
    
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
