.top-bar {
    background: #0b535e;    
    height: 200px;
    h6 {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        color: #d5c5a6;
        position: absolute;
        bottom: 15px;
    }
}
td.mat-cell, td.mat-footer-cell{
    height: 50px;
}
.full-width {
    max-width: 100% !important;
}