<div *ngIf="password && password.length > 0" style="display: grid;">
    <small [ngClass]="policy.hasEightCharacters ? 'txt-green' : 'txt-red'">Contain minimum 8 characters</small>
    <small [ngClass]="policy.hasNumber ? 'txt-green' : 'txt-red'">Contain at least 1 number</small>
    <small [ngClass]="policy.hasUpperLetter ? 'txt-green' : 'txt-red'">Contain at least 1 upper case</small>
    <small [ngClass]="policy.hasLowerLetter ? 'txt-green' : 'txt-red'">Contain at least 1 lower case</small>
    <small [ngClass]="policy.hasSymbol ? 'txt-green' : 'txt-red'">Contain at least 1 symbol (e.g @!#$&)</small>
</div>