.side-content-text{
    font-size: 32px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.background-image-content{
    background-image: url("../../../../assets/images/sidebar.png");    
    background-repeat: no-repeat;
    background-position-x: right;
    height: 100vh;
    width: 100%;
}
