.mat-dialog-container{
    width: 50%;
    margin: auto;
}
.otp-input{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.enter-digits{    
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
}
