<div mat-dialog-content>
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <ngx-qrcode [elementType]="elementType" [value]="data.otp[0]" cssClass="aclass" errorCorrectionLevel="L">
      </ngx-qrcode>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h4>Scan QR-Code</h4>
    </div>
  </div>

  <div mat-dialog-actions class="justify-content-center mb-3">
    <div class="col-4">
      <button mat-raised-button color="primary" class="f-width" (click)="submit()" cdkFocusInitial>Next</button>
    </div>

  </div>

</div>
