

        <div class="container h-100">   

        <div class="row h-100 justify-content-center align-items-center text-center">
            <div class="col-12 mt-2">                
                    <img  src="../../../../assets/images/accountcreationpage.png">                
                    <h3 class="mt-2">You’re all set!</h3>
                <p class="fontsize">Email Verification Successfull. Please wait, you will be redirected to dashboard shortly.</p>        
            </div>       

  
          </div>
        </div>