/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

$mat-custom-primary-palette: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc3,
    300: #4db6ab,
    400: #26a699,
    500: #009687,
    600: #00897a,
    700: #00796a,
    800: #3268FC,
    900: #3268FC,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5,
    S800: #217fbd,
    contrast: (
      50: #676776,
      100: #676776,
      200: #676776,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: #676776,
      A200: white,
      A400: white,
      A700: white,
    )
  );

$mat-custom-warn-palette:(
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc3,
    300: #4db6ab,
    400: #26a699,
    500: #e86969,
    600: #00897a,
    700: #00796a,
    800: #3268FC,
    900: #3268FC,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #3268FC,
    A700: #00BFA5,
    S800: #217fbd,
    contrast: (
      50: #676776,
      100: #676776,
      200: #676776,
      300: #676776,
      400: #676776,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: #676776,
      A200: white,
      A400: white,
      A700: white,
    )
);

$mat-custom-accent-palette:(
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc3,
    300: #4db6ab,
    400: #26a699,
    500: #217ebd,
    600: #00897a,
    700: #00796a,
    800: #00695b,
    900: #004d3f,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5,
    S800: #217fbd,
    contrast: (
      50: #676776,
      100: #676776,
      200: #676776,
      300: #676776,
      400: #676776,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: #676776,
      A200: white,
      A400: white,
      A700: white,
    )
);


$app-primary: mat-palette($mat-custom-primary-palette, 800, 900, A400);
$app-accent:  mat-palette($mat-custom-accent-palette, 500, A100, A400);
$app-warn:    mat-palette($mat-custom-warn-palette,500);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
@import '~ngx-toastr/toastr';

// Font FORCED IN CSS (REMOVED FROM HERE TO AVOID DOING THE SAME TASK IN DIFFERENT FILES)
// $custom-typography: mat-typography-config(
//     $font-family: 'Nunito Sans'
//   );

// @include angular-material-typography($custom-typography);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;font-size: 0.75rem !important; }
.f-width{
    width:100%;
}
.f-height{
    height:100%;
}
.mat-form-field{
    width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0 !important;
}




.tr.mat-header-row{
  background-color: #3268FC;
}
.mat-tab-label-active{
  font-weight: bold;
  color: $primary;
   opacity: 1;
}
tr.mat-header-row{
  height: 36px !important;
  background: #3268FC;

}
.mat-header-cell{
  color: white;
}
tr.mat-row, tr.mat-footer-row{
  height: 40px !important;
}
td.mat-cell, td.mat-footer-cell{
  font-size: 12px;
}
th.mat-header-cell{
  font-size: 14px;
}



.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
   background-color: rgba(0,0,0,.00);
}


.mat-step-header .mat-step-icon {
  background-color: #C4C4C4;
  color: hsla(0,0%,100%,.87);
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #3ABF47;
  color: hsla(0,0%,100%,.87);
}

.mat-step-header .mat-step-label.mat-step-label-active {

  color: #696969;
  font-weight: 500;
  font-size: 12px;

}
.mat-ripple{
  display: none;
}
.mat-step-header {
  pointer-events: none !important;
}
.mat-progress-bar-buffer {
  background-color: #ffffff;
}

// .mat-progress-bar-fill::after {
//   background-color: #19B23A;
// }
.required-mark{
  color: red;
}
.mat-tab-label .mat-ripple-element{
  display: none;
}
.icon-text {
  display: flex;
  align-items: center;

}
.warn{
  color: #e86969;
}
.primary{
  color: #00695b;
}


// .ng5-slider .ng5-slider-bar {

//   background-color:#696969 !important;
// }

.ng5-slider .ng5-slider-pointer {
  background-color: #3268FC !important;
}

.h6, h6 {
  font-size: 0.8rem;
}

.footer {
  position: absolute;
  bottom: 5px;
  left: 25%;
  width: 50%;
  text-align: center;
  .span{
      font-size: 12px;
      line-height: 16px;
      color: #3a3a3a;
  }
}

.mat-progress-bar .mat-progress-bar-fill {
  // animation: none;
  // transform-origin: top left;
  transition: transform 2s ease !important;
}
@media(max-width: 766px) {
 
  table{
    overflow: auto;
    display: block;
  }
.mat-input-element:disabled,.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label{
  color: black;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 15px !important;
}

}


// .mat-progress-bar {

//   transition: opacity 40s linear;

// }



/* Text colors */

.txt-brown {
  color: #803134 !important;
}
.txt-light-brown{
  color: #CC4E52 !important;
}

.txt-red {
  color: #D0021B !important;
}

.txt-yellow {
  color: #F0A510 !important;
}

.txt-dark-yellow{
  color: #B38219!important;
}

.txt-blue {
  color: #2F589A !important;
}

.txt-green {
  color: #638F36 !important;
}

.txt-white {
  color: white !important;
}

.txt-black {
  color: black !important;
}

.txt-light-grey {
  color: #90908B !important;
}

.bg-brown{
  background: #803134 !important;
}

.bg-blue{
  background: #2F589A !important;
}

.bg-black{
  background: black !important;
}

.bg-light-grey {
  background-color: #EEEEEE !important;
}
.background {
  circle {   
    stroke:#C4C4C4;
  }
}
.custom-tooltip{
  background: #3268FC;
  color:white;
  white-space: pre-line;
}
.modal-backdrop{
  z-index: inherit !important;
  background-color: transparent !important;
}