
 
 .row{
     margin-right: 0px; 
     margin-left: 0px;
 }
 .form-content-background{
     position: absolute;
     right: 0px;
 }
 .background-image-content{
     background-image: url(../../../../assets/images/Vector.png);
     background-repeat: no-repeat;
     background-position-x: right;
 }
 .circle{
  width: 12px;
  height: 12px;
  background: #696969;
  border-radius: 50%;
 }

 .cardcustomcss{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #C2C2C2;
    border-radius: 5px;

}

 @media(max-width:544px){    
    h4{font-size:1rem;}
    
 }

 @media (min-width: 768px){
    h4{
        font-size: 1rem;
    }
 }