<div class="row f-height f-width"> 
  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 ">
    <div class="row align-items-center f-height justify-content-center">
      <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 py-3">
        <div class="card cardcustomcss">

          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="row d-sm-block d-md-none text-center mb-3">
                <img src="../../../../assets/images/elements-mobile-logo.png" alt="Card image cap">
              </div>
              <div class="row">
                <div class="card-title col-md-6 col-sm-12">
                  <h4><strong>Create an account</strong></h4>
                  <h6>It's quick and easy.</h6>
                </div>
                <p class="card-title col-md-6 col-sm-12 text-right">Already have an account? <br><a
                    routerLink="/public/login">Login here</a> </p>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="john" formControlName="firstname">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="smith" formControlName="middlename">
                  </mat-form-field>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="smith" formControlName="lastname">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="john@elementsresidencia.com" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Phone Number (+92)</mat-label>
                    <input matInput placeholder="+923XXXXXXXXX" formControlName="mobilephonenumber">
                    <mat-icon matSuffix>contact_phone</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
                    <input matInput #password maxlength="30" placeholder="Password" [type]="toggle.type"
                      placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                      autocomplete="off">
                    <!-- <mat-hint align="end" aria-live="polite">
                      {{password.value.length}} / {{passwordComponent.max}}
                    </mat-hint> -->
                  </mat-form-field>

                  <!-- <mat-password-strength #passwordComponent [max]="30" (onStrengthChanged)="onStrengthChanged($event)"
                    [password]="password.value">
                  </mat-password-strength>
                  <mat-label *ngIf="strength == 20" class="required-mark font-weight-bold">Weak</mat-label>
                  <mat-label *ngIf="strength == 40" class="warn font-weight-bold">Normal</mat-label>
                  <mat-label *ngIf="strength == 60" class="primary font-weight-bold">Strong</mat-label>
                  <mat-label *ngIf="strength == 80" class="primary font-weight-bold">Stronger</mat-label>
                  <mat-label *ngIf="strength == 100" class="primary font-weight-bold">Complex</mat-label> -->
                </div>
                <div class="col-12">
                  <app-password-policy [password]="registerForm.get('password').value"></app-password-policy>
                </div>

                <div class="col-12 mt-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>

                    <input matInput placeholder="Confirm Password" placeholder="Password"
                      formControlName="confirmpassword" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix maxlength="30" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                  </mat-form-field>
                  <small *ngIf="f.confirmpassword.errors && f.confirmpassword.errors.mustMatch" class="txt-red">Passwords must match</small>                  
                </div>

                <!-- <div class="col-12 pl-3 pt-1 pb-1 d-none d-md-block">
                  <label>Suggestions for a strong password:</label> <br />
                  <label><span class="circle mr-2 d-inline-block"></span>A combination of upper and lower case letters,
                    numbers, and special characters</label> <br />
                  <label><span class="circle mr-2 d-inline-block"></span>A combination of random words</label> <br />
                  <label><span class="circle mr-2 d-inline-block"></span>Atleast 8 characters or more</label>
                </div> -->
                <div class="col-12">
                  <button mat-raised-button color="primary" [disabled]="registerForm.invalid" class="f-width">Create
                    Account</button>
                  <div class="mt-4 text-center">
                    By clicking “Create Account” you agree to Elements Residencia <a href="#">Terms & Conditions</a>
                  </div>
                </div>
              </div>


            </form>

          </div>
        </div>
        <label class="mt-4">Having troubles? <a href="#"> Get help</a></label>
      </div>
    </div>

  </div>
  <div class="col-lg-5 col-md-5  d-none d-md-block d-lg-block col-xs-0 col-sm-0 side-background p-0">
    <app-publicsidebar>
    </app-publicsidebar>
  </div>
</div>