<div class="row f-width f-height">

    <div class="col-lg-7  col-md-7 col-xs-12 col-sm-12">      
    <div class="row align-items-center f-height justify-content-center">
        <div class="col-12 col-lg-10  col-md-10  "> 
          <div class="row justify-content-center mb-3">
            <img src="../../../../assets/images/logo.png" class="py-5" alt="Card image cap">
          </div>
          <div class="card cardcustomcss mb-4">
            <div class="card-body">
                <form [formGroup]="forgotpasswordform" (ngSubmit)="forgotpasswordfunction()">
                    <div class="row my-2">
                        <div class="col-6">
                            <h5 class="card-text"><strong>Forgot password ? </strong></h5>
                        </div>
                        <div class="col-6 text-right">
                            <a routerLink="/public/login">
                                <fa-icon [icon]="faChevronLeft" class="mx-2"></fa-icon>Back to login
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p >Enter the email address associated with your account and
                                we’ll send you a password reset link shortly.</p>
                        </div>
                        <div class="col-12">

                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="mickey@elementsresidencia.com"
                                    formControlName="email">
                                <!-- <mat-icon matSuffix>email</mat-icon>     -->
                            </mat-form-field>
                            <button mat-raised-button color="primary"
                                [disabled]="forgotpasswordform.invalid"
                                class="f-width buttonandtextwidth">Send Reset Link</button>
                        </div>
                    </div>

                </form>
            </div>
          </div>
          
        </div> 
        <div class="footer">
          <span>
            ©2020 Elements Residencia LLP. All Rights Reserved.
          </span>
        </div>  
      </div>
    </div>
    <div class="col-lg-5 col-md-5 d-none d-md-block d-lg-block side-background p-0">
        <app-publicsidebar>
        </app-publicsidebar>
    </div>
 
</div>